@import "../../app.scss";

.about {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    justify-content: stretch;
  }

  @include tablet {
    justify-content: space-around;
  }

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      gap: 0;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: white;
      text-align: right;

      @include mobile {
        padding: 2rem 0 0 0;
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
      flex: initial;
    }

    @include tablet {
      width: 100%;
      flex: initial;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 25px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }
      h1 {
        font-size: 76px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
        @include tablet {
          font-size: 42px;
        }
      }

      a {
        padding: 0 30px;
        border-radius: 50px;
        background-color: #ffa500;
        border: none;
        color: black;
        font-size: 48px;
        font-style: italic;
        font-weight: 600;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
        @include tablet {
          font-size: 32px;
          padding: 3px 25px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;

    @include mobile {
      width: 55%;
    }
    @include tablet {
      width: 100%;
    }
  }
}
